 
  *{
    box-sizing: border-box;
 }
 :root{
    --nav-a: 20px;
    --submenu-a: 18px;
    --lang-font: 20px;
    --banner-title-font: 40px;
    --banner-text-font: 20px;
    --section-title-font: 30px;
    --section-text-font: 20px;
    --services-item-title: 22px;
    --services-item-text: 20px;
    --footer-soc-title: 20px;
    --breadcrumb-font: 16px;
    --page-title-font: 30px;
    --accordion-title: 26px;
    --accordion-list-font: 20px;
    --project-list-item-title: 24px;
    --project-list-item-text: 20px;
    --tags-list-font: 20px;
    --vacancies-title: 24px;
    --vacancies-text: 20px;
 }
 h1, h2, h3, h4 ,h5, h6{
    margin: 0;
    font-weight: 400;
}
 

 body{
    margin: 0;
    padding: 0;
 }
 .container {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
 }
 .header-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
 }
 .header{
    background: #F9F9F9;
 }
 .home-header{
    background: #fff;
 }
 .left-header{
    display: flex;
    align-items: center; 
 }
 .logo{
    width: 98px;
    height: 130px;
 }
 .logo a{
    width: 100%;
    height: 100%;
    display: block;
 }
 .logo a img{
    width: 100%;
    height: 100%;
 }
.nav{
    margin-left: 40px;
}
.nav-ul{
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}
.nav-li{
    list-style: none; 
    width: fit-content;
    transition: 0.2s;
    position: relative;
}
.nav-a {
    font-family: 'BPG Glaho WEB Caps';
    color: #3A3A3A;
    font-size: var(--nav-a);
    padding: 0 8px;
    transition: 0.2s;
    text-decoration: none;
    padding-bottom: 25px;
}
 .contact-link a{
    font-family: 'BPG Glaho WEB Caps';
    color: #3A3A3A;
    font-size: var(--nav-a); 
    transition: 0.2s;
    text-decoration: none; 
}
.nav-li.active .nav-a, .nav-li:hover .nav-a, .contact-link a:hover{
    color: #804D9F;
}
 
.submenu{
    margin-top: 24px;
    width: 320px;
    border-radius: 4px;
    padding: 40px 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.1s;
    position: absolute;
    transform: scaleY(0);
    background: #fff;
    z-index: 9;
}
.nav-li:hover .submenu{
    transform: scaleY(1);
}
.submenu-ul{
    display: flex;
    flex-direction: column; 
    gap: 20px; 
    padding: 0;
}
.submenu-li{
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    transition: 0.2s;
    padding-left: 18px;
}
.submenu-a{
    text-decoration: none;
    font-size: var(--submenu-a);
    color: #804D9F;
    font-family: 'BPG Glaho WEB';
    transition: 0.2s; 
}
.submenu-li::after{
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #804D9F;
}
.submenu-li:hover .submenu-a{
    color: #36013F;
}
.submenu-li:hover::after{
    background-color: #36013F;
}
.right-header{
    display: flex;
    align-items: center;
    gap: 24px;
}
.right-header form{
    position: relative;
    display: flex;
    align-items: center;
    width: 38px;
}
.right-header form input{
    position: absolute;
    right: 38px;
    appearance: none;
    border: none;
    outline: none;
    border-radius: 4px;
    color: #804D9F; 
    width: 0;
    height: 50px;
    border-radius: 4px; 
    font-size: 18px;
    font-family: 'BPG Glaho WEB';
    transition: 0.2s;
    width: 324px;
    padding-left: 24px;
    background: #FFF;
    display: none;
}
.home-header .right-header form input{
    background: #F9F9F9;
}
.right-header form:hover input{
     display: flex;
}
.right-header form input::placeholder{
    font-size: 18px;
    font-family: 'BPG Glaho WEB';
    color: #804D9F;
}
.search-btn{
    outline: none;
    appearance: none;
    background: none;
    cursor: pointer;
    border: none; 
}
.lang a{
    color: #3A3A3A;
    font-size: var(--lang-font);
    font-family: 'BPG Glaho WEB Caps';
    text-transform: capitalize;
    padding: 0 24px;
    border-left: 1px solid #A3A3A3;
    border-right: 1px solid #A3A3A3;
    text-decoration: none;
    display: none;
    line-height: 1;
}
.lang a.active-lang{
    display: flex;
}
.soc-icons{
    display: flex;
    align-items: center;
    gap: 22px;
} 
.soc-icons .icon span svg path{
    transition: 0.2s;
}
.soc-icons .icon:hover span svg path{
    fill: #36013F; 
}
.section-banner{
    width: 100%;
    padding-top: 64px;
    padding-bottom: 95px;
    background: #F9F9F9;
}
.banner-box{
    display: flex;
    align-items: center;
    width: 100%;
}
.banner-img{
    width: 710px;
    height: 500px;
    overflow: hidden;
    border-radius: 4px;
}
.banner-img a{
    display: block;
    width: 100%;
    height: 100%;
}
.banner-img a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner-right-text{
    width: calc(100% - 710px);
    padding-left: 146px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}
.banner-right-text .title{
    font-size: var(--banner-title-font);
    color: #804D9F;
    font-family: 'BPG Glaho WEB Caps';
    text-decoration: none;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.banner-right-text .text{
    font-size: var(--banner-text-font);
    color: #393939;
    line-height: 34px;
    font-family: 'BPG Glaho WEB';
    text-decoration: none;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}
.about-section{
    width: 100%;
    padding: 80px 0;
    position: relative;
} 
.right-fixed-img{
    position: absolute;
    top: 94px;
    right: 0;
    width: 337px;
    height: 235px;
}
.right-fixed-img img{
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.section-title{
    display: flex;
    align-items: center;
    gap: 16px;
}
.section-title h1{
    font-family: 'BPG Glaho WEB Caps';
    font-size: var(--section-title-font);
    color: #804D9F;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.about-section-text{
    max-width: 955px;
    margin: 0 auto;
    margin-top: 50px;
    color: #393939;
    line-height: 34px;
    font-size: var(--banner-text-font);
    font-family: 'BPG Glaho WEB'; 
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    overflow: hidden;
}
.partners-section{
    width: 100%;
    padding: 80px 0;
    background: #F9F9F9;
}
.partners-all-link{
    padding-left: 12px;
    line-height: 1;
    font-size: 18px;
    color: #393939;
    border-left: 1px solid #393939;
    font-family: 'BPG Glaho WEB';
    text-decoration: none;
    margin-top: -10px;
}
.partners-box{
    width: 100%;
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 86px;
}
.partners-item{
    width: calc((100% / 5) - 69px);
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.partners-item a{
    width: 100%;
    height: 100%;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
}
.partners-item a img{
    max-height: 100%;
    max-width: 100%;
}
.services-section{
    width: 100%;
    padding: 80px 0;
}
.services-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    margin-top: 70px;
}
.services-item{
    width: calc((100% / 3) - 47px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-decoration: none;
    height: 232px;
}
.services-item h2{
    color: #393939;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    font-family: 'BPG Glaho WEB Caps';
    font-size: var(--services-item-title); 
    transition: 0.2s;
}
.services-item:hover h2{
    color: #804D9F;
}
.services-item .text{
    color: #5C5C5C;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    font-family: 'BPG Glaho WEB';
    font-size: var(--services-item-text); 
    line-height: 34px;
    transition: 0.2s;
}
.all-link{
    font-size: 18px;
    font-family: 'BPG Glaho WEB';
    color: #642E8B;
    padding-left: 12px;
    line-height: 28px;
    border-left: 1px solid #642E8B;
    text-decoration: none;
}
.footer{
    width: 100%;
    padding-top:60px;
    padding-bottom: 40px;
    background: #F9F9F9;
}
.soc-footer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.soc-footer h2{
    color: #393939;
    font-size: var(--footer-soc-title);
    font-family: 'BPG Glaho WEB Caps';
}
.footer-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 60px;
    margin-top: 37px;
}
.f-info-item{ 
    width: fit-content;
    max-width: 520px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
}
.f-info-item h3{
    font-size: var(--footer-soc-title);
    font-family: 'BPG Glaho WEB Caps';
    color: #804D9F;
}
.f-info-item a{
    font-size: 20px;
    font-family: 'BPG Glaho WEB';
    color: #393939;
    line-height: 34px;
    text-decoration: none;
    transition: 0.2s;
}
.f-info-item a:hover{
    text-decoration: underline;
}
.breadcrumb{
    width: 100%;
}
.br-box{
    width: 91%;
    height: 54px;
    background: #804D9F;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    align-items: center;
    padding-left: 24px;
}
.br-box ul{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px; 
}
.br-box ul li{
    display: flex;
    align-items: center;
    gap: 16px;
}
.br-box ul li a{
    font-size: var(--breadcrumb-font);
    color: #CFB3E0;
    line-height: 28px;
    font-family: 'BPG Glaho WEB';
    transition: 0.2s;
    text-decoration: none;
}
.br-box ul li.active-br a, .br-box ul li a:hover{
    color: #FFFFFF;
}
.br-box ul li:last-child span{
    display: none;
}
.page-section{
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 100px;
}
.right-fixed-img-all-page{
    position: absolute;
    right: 0; 
    top: 140px;
}
.page-title{
    font-size: var(--page-title-font);
    font-family: 'BPG Glaho WEB Caps';
    color: #804D9F;  
}
.page-text-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%; 
    padding-right: 9.2%;
}
.page-text-box .text{
    margin-top: 24px;
}
.page-text-box .text, .page-text-box .text p{
    font-size: var(--section-text-font);
    color: #393939;
    font-family: 'BPG Glaho WEB';
    line-height: 34px; 
    max-width: 100%;
}
.page-text-box .text h1, .page-text-box .text h2{
    font-size: var(--page-title-font);
    font-family: 'BPG Glaho WEB Caps';
    color: #804D9F; 
    max-width: 100%;
}
.page-text-box .text h2{
    font-size: 25px;
}
.page-text-box .text li{ 
    list-style: none;
    font-size: var(--section-text-font);
    color: #393939;
    font-family: 'BPG Glaho WEB';
    max-width: 100%;
    position: relative;
    padding-left: 34px; 
}
.page-text-box .text li::after{
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    top: 3px;
    left: 0;
    background: #804D9F;
    border-radius: 50%;
}
.share-social{
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.share-social h3{
    color: #804D9F;
    font-family: 'BPG Glaho WEB';
    font-size: 20px;
} 
 .st-btn {
    padding: 0!important;
}
#st-1{
    z-index: 888!important;
}
.services-list-box{
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
}
.services-list-item{
    width: calc((100% / 3) - 47px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-decoration: none;
    transition: 0.1s;
    height: 313px;
}
.svg-logo{
    width: 60px;
    height: 60px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #804D9F;
    transition: 0.2s;
}
.svg-logo img{
    max-width: 95%;
    max-height: 95%;
}
.services-list-item h2{
    font-family: 'BPG Glaho WEB Caps'; 
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    font-size: var(--services-item-title);
    color: #804D9F; 
}
.services-list-item:hover .svg-logo {
    background: #36013F;
}
.services-list-item:hover h2 {
    color: #393939;
}
.services-list-item .text{
    font-family: 'BPG Glaho WEB';
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    font-size: var(--services-item-text);
    color: #5C5C5C; 
    line-height: 34px;
}
.pagination{
    width: 100%;
    padding-bottom: 100px;
}
.pagination-box{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.arr{
    font-size: 20px;
    color: #804D9F;
    font-family: 'BPG Glaho WEB';
    text-decoration: none;
}
.arr.disabled{
    color: #5C5C5C;
    pointer-events: none;
}
.prev{
    margin-right: 32px;
}
.next{
    margin-left: 32px;
}
.pagination-box li{
    list-style: none;
    padding: 0 8px;
}
.pagination-box li a{
    font-size: 20px;
    color: #5C5C5C;
    font-family: 'BPG Glaho WEB';
    text-decoration: none;
}
.pagination-box li a.active{
    color: #804D9F;
}
.servies-detail-accordion-box{
    width: 100%; 
    margin-top: 70px;
}
.accordion-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 45px;
}
.accordion-item{
    width: 100%;
    padding-bottom: 45px;
    border-bottom: 1px solid #F3ECF6;
    display: flex;
    flex-direction: column; 
}
.accordion-title{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
}
.accordion-title h2{
    width: 90%;
    font-family: 'BPG Glaho WEB Caps'; 
    color: #804D9F;
    font-size: var(--accordion-title);
}
.active-accordion .accordion-title .arrow-icon {
    transform: rotate(180deg);
}
.accordion-ul{
    padding: 0;
    margin: 0; 
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-height: 0;
    overflow: hidden; 
} 
.active-accordion .accordion-ul{
    max-height: initial;
    margin-top: 24px;
}
.accordion-ul li{
    list-style: none;
    padding-left: 34px;
    padding-right: 20px;
    color: #393939;
    font-family: 'BPG Glaho WEB';
    width: 100%;
    position: relative; 
    font-size: var(--accordion-list-font);
    line-height: 34px;
}
.accordion-ul li::after{
    position: absolute;
    content: "";
    top: 12px;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #804D9F;
}
.projects-list-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin-top: 50px;
    padding-right: 11%;
}
.projects-list-item{
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.left-img-projects{
    width: 342px;
    height: 230px;
    border-radius: 4px;
    overflow: hidden; 
}
.projects-list-item:hover .left-img-projects img{
    transform: scale(1.05);
}
.left-img-projects img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s;
}
.right-text-project{
    width: calc(100% - 342px);
    padding-left: 40px;
    padding-right: 50px;
}
.right-text-project h2{
    font-size: var(--project-list-item-title);
    color: #3A3A3A;
    font-family: 'BPG Glaho WEB Caps';
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    line-height: 1.2;
    margin-bottom: 16px;
}
.right-text-project .text{
    font-size: var(--project-list-item-text);
    font-family: 'BPG Glaho WEB';
    color: #5C5C5C;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    margin-bottom: 32px;
    line-height: 34px;
}
.project-detail-top-info{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 38px 24px;
}
.right-top-info{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: calc(100% - 464px - 24px);
}
.right-top-info .date{ 
    margin-top: 0;
    font-size: 20px;
    font-family: 'BPG Glaho WEB';
    line-height: 34px;
    color: #393939;
}
.projects-tags h3{  
    font-size: var(--section-text-font);
    font-family: 'BPG Glaho WEB';
    line-height: 34px;
    color: #393939;
}
.projects-tags ul{
    margin: 0;
    padding: 0;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px 24px;
}
.projects-tags ul li{
    list-style: none;
    font-size: var(--tags-list-font);
    font-family: 'BPG Glaho WEB';
    line-height: 34px;
    color: #804D9F;
}
.project-detail-top-info .text{
    width: 100%;
    margin-top: 0;
    font-size: var(--section-text-font);
    font-family: 'BPG Glaho WEB';
    line-height: 34px;
    color: #393939;
}
.detail-project-img{
    width: 464px;
    height: 312px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
}
.detail-project-img a{
    display: block;
    width: 100%;
    height: 100%;
}
.detail-project-img a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s;
}
.detail-project-img:hover  a img{
    transform: scale(1.05);
}

.fancy-detail-page{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 50px;
}
.project-detail-fancy-item{
    width: calc((100% / 4) - 18px);
    height: 230px;
    overflow: hidden;
    border-radius: 4px;
}
.project-detail-fancy-item a{
    width: 100%;
    height: 100%;
    display: block;
}
.project-detail-fancy-item a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s;
}
.project-detail-fancy-item:hover a img{
    transform: scale(1.05);
}
.vacancies-list-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 40px; 
}
.vacancies-item{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 34px;
    border-radius: 4px;
    background: #F9F9F9;
    text-decoration: none;
    transition: 0.2s;
}
.vacancies-item:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.vacancy-left{
    width: 75%;
    display: flex;
    flex-direction: column; 
}
.vacancy-left h2{
    font-size: var(--vacancies-title);
    color: #3A3A3A;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    line-height: 34px;
    margin-bottom: 10px;
    font-family: 'BPG Glaho WEB Caps';
}
.vacancy-text{
    font-size: var(--vacancies-text);
    color: #5C5C5C;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height: 34px;
    margin-bottom: 20px;
    font-family: 'BPG Glaho WEB';
}
.vacancy-right{
    width: 25%;
    padding-left: 65px;
}
.status, .saerch-section-type{
    color: #C1C1C1;
    padding-left: 28px;
    width: 100%;
    position: relative;
    font-family: 'BPG Glaho WEB';
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 15px;
}
.status::after, .saerch-section-type::after{
    position: absolute;
    content: "";
    background: #C1C1C1;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 11px;
    left: 0;
}
.date-range{
    width: 100% ;
    margin-top: 45px;
    color: #804D9F;
    font-family: 'BPG Glaho WEB';
    font-size: 20px;
}
.active-status, .saerch-section-type{
    color: #804D9F;
}
.active-status::after, .saerch-section-type::after{
    background-color: #804D9F;
}
.completed-status{
    color: #5C5C5C;
}
.completed-status::after{
    background-color: #5C5C5C;
}
.vacancy-detail-status-block{
    margin-top: 30px;
    width: 100%;
}
.vacancy-detail-status-block .date-range{
    margin-top: 30px;
}
.partners-list-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px 24px;
    margin-top: 50px;
}
.partners-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc((100% / 4) - 18px);
    height: 190px;
    background: #F9F9F9;
    transition: 0.2s;
}
.partners-item img{
    max-width: 95%;
    max-height: 95%;
}
.partners-item:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.search-form{
    width: 100%;
    margin-top: 60px;
}
.search-form form{
    position: relative;
    width: 100%;
    height: 55px;
    border-bottom: 1px solid #804D9F; 
}
.search-form form input{
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    appearance: none;
    outline: none;
    background: none;
    padding-right: 40px; 
    color: #3A3A3A;
    font-family: 'BPG Glaho WEB Caps';
    font-size: 30px; 
}
.search-form form input::placeholder{
    font-size: 30px;
    color: #3A3A3A;
    font-family: 'BPG Glaho WEB Caps';
    opacity: 0.5;
}
.search-button{
    position: absolute;
    right: 0;
    height:55px;
    background: transparent;
    cursor: pointer;
    z-index: 8;
    border: none;
    outline: none;
    appearance: none;
}
.results-count{
    margin-top: 16px;
    font-size: 20px;
    color: #989898;
    font-family: 'BPG Glaho WEB'; 
}

.search-results{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 80px;
}
.search-item-res{
    width: 100%;
}
.contact-box{
    margin-top: 20px;
    width: 100%;
}
.contact-company{
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.contact-company ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;  
}
.contact-company ul li{
    list-style: none;
    font-size: 20px;
    color: #804D9F;
    font-family: 'BPG Glaho WEB Caps';
    line-height: 34px;
}
.contact-company ul li a{
    margin-left: 16px;
    line-height: 34px;
    font-family: 'BPG Glaho WEB'; 
    color: #393939; 
    text-decoration: none;
    transition: 0.2s;
}
.contact-company ul li a:hover{
    text-decoration: underline;
}
.map{
    margin-top: 70px;
    width: 100%;
    height: 330px;
    border-radius: 4px;
    overflow: hidden;
}
.map iframe{
    width: 100%;
    height: 100%;
}
.contact-form{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}
.contact-form form{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap; 
    gap: 24px;
}
.left-form, .right-form{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: calc((100% / 2) - 12px);
}
.input-b, .textarea-b{
    width: 100%;
    height: 70px;
    border: none;
    appearance: none;
    outline: none;
    border-radius: 4px;
    background: #F9F9F9;
    padding: 0 24px;
    font-size: 20px;
    color: #393939;
    font-family: 'BPG Glaho WEB'; 
    line-height: 34px;
}
.input-b::placeholder{
    font-size: 20px;
    color: #989898;
    font-family: 'BPG Glaho WEB'; 
}
.textarea-b{
    height: 167px;
    resize: none;
    padding-top: 18px;
}
.contact-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 11px;
}
.cont-btn{
    padding: 10px 57px;
    background: #804D9F;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    font-family: 'BPG Glaho WEB'; 
    line-height: 34px;
    font-size: 20px;
    transition: 0.2s;
}
.cont-btn:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.blog-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.blog-tags{
    max-width: 1000px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px 40px; 
}
.blog-link-all, .blog-tags ul li a{
    color: #804D9F;
    font-family: 'BPG Glaho WEB'; 
    line-height: 34px;
    font-size: 20px;
    transition: 0.2s;
    text-decoration: none;
}
.blog-tags ul li a:hover, .active-tag, .blog-tags ul li a.active-tag{
    color: #393939;
}
.blog-tags ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.blog-tags ul li{
    list-style: none;
}
 .blog-list-box{
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px 24px;
 }
 .blog-list-item{
    width: calc((100% / 3) - 16px);
    height: 546px;
    overflow: hidden;
    border-radius: 4px;
    background: #F9F9F9; 
    transition: 0.2s;
    text-decoration: none;
 }
 .blog-list-item:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
 }
 .blog-list-item img{
    width: 100%;
    height: 272px;
    object-fit: cover;
 }
 .blog-bottom-text{
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 24px;
   margin-top: 24px;
   padding: 0 40px;
 }
 .blog-ul{
    display: flex;
    flex-wrap: wrap;
    gap: 6px 24px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-height: 75px;
 }
 .blog-ul li{
    list-style: none;
    color: #804D9F;
    font-family: 'BPG Glaho WEB'; 
    line-height: 34px;
    font-size: 20px;
    word-break: break-all;
 }
 .blog-bottom-text .text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height: 34px; 
    font-family: 'BPG Glaho WEB';
    color: #3A3A3A;
    font-family: 'BPG Glaho WEB Caps';
    font-size: 24px;
 }